// Main colors

$darkPurple: #1f002d;
$purple: #280C41;
$lightPurple: #421867;


// Text colors

$grey: #8C8493;
$white: #f3f3f3;
$black: #240935;

//Other colors

$orangePurple: #2c0027;

// text
$text: 'Open Sans', sans-serif;