// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main colors

$darkPurple: #1f002d;
$purple: #280C41;
$lightPurple: #73009f;


// Text colors

$grey: #8C8493;
$white: #f3f3f3;

//Other colors

$orangePurple: #2c0027;
