@import "vars.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: inherit;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;

    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */

    font-size: 62.5%;
}

body {
    font-family: $text;
    // letter-spacing: 0.015em;
    overflow-x: hidden;
    line-height: 1;
    color: $white;
    background-color: $darkPurple;
}

ul {
    list-style-type: none;
}

a:hover {
    color: $white;
    transition: all 0.8s;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

svg {
    fill: $grey;
}

svg:hover {
    fill: $white;
    transition: all 0.8s;
}

.container {
    /* 1140px */
    /* max-width: 120rem; */
    padding: 0 13.8rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.sp_btw {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grey_text {
    color: $grey;
}

// header

.header {
    background-color: $purple;
    font-size: 2.5rem;
    font-weight: 700;
    align-items: center;
    color: $grey;
    &_logo {
        margin-right: 5.25rem;
        text-align: center;
        &_img {
            width: 10rem;
        }
        &_p {
            font-size: 1.25rem;
            color: $white;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
    }
    &_navigation {
        height: 14.12rem;
        align-items: center;
        width: 50%;
        &_list {
            width: 100%;
        }
    }
    &_blocks {
        width: 23%;
        &_search {
            align-items: center;
            position: relative;
            &:hover {
                color: $white;
                transition: all 0.8s;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                -o-transition: all 0.8s;
            }
            &:hover > svg {
                fill: $white;
                transition: all 0.8s;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                -o-transition: all 0.8s;
            }
        }
        &_login {
            align-items: center;
            &:hover {
                color: $white;
            }
        }
        &_img {
            margin-right: 1.8rem;
        }
        &_authorization {
            position: absolute;
            //opacity: 0;
            display: none;
            padding: 2rem 1.5rem;
            border-radius: 10px;
            background-color: $lightPurple;
            right: 1%;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            z-index: 2;
            top: 10rem;
            transition: all 0.8s;
            &_form {
                flex-direction: column;
                gap: 2rem;
                // background-color: green;
            }
            &_p {
                font-weight: 400;
                font-size: 2.2rem;
                text-align: center;
            }
            &_input {
                display: block;
                width: 27.8rem;
                height: 3.8rem;
                background-color: $white;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                text-align: center;
                color: $grey;
                font-size: 1.8rem;
                &::placeholder,
                &:focus,
                &:active {
                    text-align: center;
                    color: $grey;
                    font-size: 1.8rem;
                }
            }
            &_link {
                font-size: 1.8rem;
                margin-bottom: 3rem;
            }
        }
        &_dropdown {
            align-items: center;
            &:hover > svg {
                color: $white;
                fill: $white;
            }
        }
    }
}

.h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $white;
}

.main_catalog {
    margin-top: 11.12rem;
    &:last-child {
        margin-bottom: 11.12rem;
    }
    &_section {
        margin-top: 2.12rem;
        column-gap: 1.25rem;
        row-gap: 8.25rem;
        grid-template-columns: repeat(4, 1fr);
    }
    &_link {
        position: relative;
        border-radius: 10px;
        max-width: 38rem;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    &_img {
        width: 100%;
    }
    &_description {
        position: absolute;
        top: 0;
        opacity: 0;
        background: rgba(15, 21, 36, 0.7);
        height: 100%;
        padding: 1.8rem;
        font-size: 1.8rem;
        color: $white;
        flex-direction: column;
        line-height: 2rem;
        &:hover {
            transition: all 0.8s;
            opacity: 1;
        }
        &_h3 {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }
    }
}

.footer {
    background-color: $purple;
    height: 16.9rem;
    color: $grey;
    font-size: 1.5rem;
    font-weight: 700;
    &_navigation {
        width: 40% !important;
        align-items: center;
        &_list {
            margin-bottom: 1.2rem;
        }
    }
    &_social {
        width: 19% !important;
        align-items: top;
        padding-top: 2.8rem;
        position: relative;
    }
    &_call {
        z-index: 1;
        position: relative;
        &:hover ~ div {
            opacity: 1;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
            -o-transition: all 0.8s;
            transform: translateY(6.1rem);
            -webkit-transform: translateY(6.1rem);
            -moz-transform: translateY(6.1rem);
            -ms-transform: translateY(6.1rem);
            -o-transform: translateY(6.1rem);
        }
        &_text {
            top: 2rem;
            left: -8%;
            display: block;
            position: absolute;
            opacity: 0;
            background-color: $lightPurple;
            font-size: 1.5rem;
            color: $white;
            width: 14.8rem;
            padding: 1.8rem;
            text-align: center;
            border-radius: 10px;
        }
    }
}

/*фильм*/
/*.wrap {
    width: 1440px;
    margin: 0 auto;
    outline: 1px solid gold;
  }*/

.dropdown {
    cursor: pointer;
}

.movie_blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 15.5rem;
    margin-top: 5rem;
    margin-bottom: 12rem;
    &_text_img {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &_text {
        display: block;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 700;
        // font-family: "Nunito Sans", sans-serif;
    }
    &_text_svg {
        // font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 44px;
        color: $grey;
        padding-top: 1.5rem;
    }
    &_text_p {
        // font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $white;
        padding-top: 1rem;
    }
    &_text_grey {
        color: $grey;
    }
    &__thumb_svg {
        position: absolute;
        left: 30.18%;
        right: 68.5%;
        top: 19.01%;
        bottom: 79.82%;
    }
    &_img {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 100%;
        justify-self: end;
        text-align: right;
    }
    &_image {
        height: 100%;
        mask-image: linear-gradient(
            to left,
            black 50%,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
        );
        // width: auto;
    }
}

.movie_btn {
    width: 331px;
    height: 75px;
    background: $grey;
    border-radius: 20px;
    margin-top: 5rem;
    // font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: $white;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
    display: inline-block;
    &:hover,
    &:focus {
        background-color: $lightPurple;
    }
    position: relative;
    display: inline-block;
}

.movie_drop {
    width: 331px;
    background: $white;
    // font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    padding-left: 3.5rem;
    margin-top: 3rem;
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    flex-direction: column;
    &_a {
        color: $black;
        padding: 3px 5px;
        text-decoration: none;
        display: block;
    }
    &_a:hover {
        color: $grey;
    }
}
.show {
    display: flex;
    &-menu {
        display: flex;
    }
}
.movie_box_text {
    width: 1600px;
    position: absolute;
    width: 226px;
    height: 53px;
    left: 127px;
    top: 95rem;
    // font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    color: #ffffff;

    &_range {
        position: absolute;
        width: 160rem;
        border: 5px solid #280c41;
        background: #280c41;
    }
}
.box_range {
    width: 182px;
    height: 10px;
    background: #724996;
}
.movie_aside_widget {
    display: flex;
    justify-content: space-between;
    // width: 1270px;

    &_h2 {
        position: absolute;
        width: 744px;
        height: 345px;
        left: 13rem;
        top: 105rem;
        // font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-size: 20px;
        line-height: 5rem;
        color: #ffffff;
    }
}
.movie_widget {
    width: 33rem;
    height: 15.5rem;
    background: #280c41;
    border-radius: 10px;
    // font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    align-items: center;
    color: #ffffff;
    padding: 3rem 3rem;
        &_icon {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }
}

.movie_information {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    background: #280c41;
    // font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    padding: 5rem 5rem;
    margin-bottom: 20rem;
    justify-items: stretch;
    &_p {
        // font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &_span {
        color: #8c8493;
    }
}
.footer {
    background-color: $purple;
    height: 16.9rem;
    color: $grey;
    font-size: 1.5rem;
    font-weight: 700;
    &_navigation {
        width: 30%;
        align-items: center;
        &_list {
            margin-bottom: 1.2rem;
        }
    }
    &_social {
        width: 40%;
        align-items: top;
        padding-top: 2.8rem;
        position: relative;
    }
    &_call {
        z-index: 1;
        position: relative;
        &:hover ~ div {
            opacity: 1;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
            -o-transition: all 0.8s;
            transform: translateY(6.1rem);
            -webkit-transform: translateY(6.1rem);
            -moz-transform: translateY(6.1rem);
            -ms-transform: translateY(6.1rem);
            -o-transform: translateY(6.1rem);
        }
        &_text {
            top: 2rem;
            left: -18%;
            display: block;
            position: absolute;
            opacity: 0;
            background-color: $lightPurple;
            font-size: 1.5rem;
            color: $white;
            width: 14.8rem;
            padding: 1.8rem;
            text-align: center;
            border-radius: 10px;
        }
    }
}
